@theme {
    /* Brand */
    --color-purple-base: #892CCD;
    --color-purple-light: #A85FDD;

    /* Gray Scale */
    --color-gray-100: #0F0F1A;
    --color-gray-200: #131320;
    --color-gray-300: #1A1B2D;
    --color-gray-400: #45455F;
    --color-gray-500: #7A7B9F;
    --color-gray-600: #B5B6C9;
    --color-gray-700: #E4E5EC;
    --color-white: #FFFFFF;

    /* Feedback */
    --color-error-base: #D04048;
    --color-error-light: #F77980;

    /* Font families */
    --font-nunito-sans: "Nunito Sans", sans-serif;
    --font-rajdhani: "Rajdhani", sans-serif;
    --font-rammetto-one: "Rammetto One", cursive;
}