@import "tailwindcss";

@theme {
    /* Brand */
    --color-purple-base: #892ccd;
    --color-purple-light: #a85fdd;

    /* Gray Scale */
    --color-gray-100: #0f0f1a;
    --color-gray-200: #131320;
    --color-gray-300: #1a1b2d;
    --color-gray-400: #45455f;
    --color-gray-500: #7a7b9f;
    --color-gray-600: #b5b6c9;
    --color-gray-700: #e4e5ec;
    --color-white: #ffffff;

    /* Feedback */
    --color-error-base: #d04048;
    --color-error-light: #f77980;

    /* Font families */
    --font-nunito-sans: "Nunito Sans", sans-serif;
    --font-rajdhani: "Rajdhani", sans-serif;
    --font-rammetto-one: "Rammetto One", cursive;
}

@layer base {
    body {
        @apply font-nunito-sans bg-gray-100;
    }
}
